.container {
  min-height: 60vh;
  margin-bottom: 5em;
}
.loading {
  text-align: center;
  margin-top: 30%;
}

/*Media Query para celular*/

@media screen and (max-width: 600px) { 
  nav {
    font-size: 10px;
    margin-right: 0px;
    padding: 0.5 1em;
  }
  h1 {
    text-align: center;
  }
  .btn.btn-dark {
    padding: 7px 12px;
    border-radius: 30px;
  }
  .PostDetail_post_detail {
    max-width: 45vh;
  }
  .btn.btn-outline{
    border-radius: 30px;
  }
  .home_search_form {
    margin-right: 1em;
  }
  footer {
    text-align: center
  }
  
}
